body {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 12pt;
}


/**HEADER**/
#header-nav {
	background-color: grey;
	border-radius: 0;
	border: 2px solid black;
}
.navbar-header {
	height: 90px;
}
h1 {
	font-size: 1.5em;
	color: black;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
#nav-list {
	background: white;
	color: black;
}
#nav-list a:hover {
	background: grey;
}
.navbar-header button.navbar-toggle, .nvabar-header .icon-bar {
	border: 1px solid black;
}
li {
	border: 1px solid black;
	color: black;
	font-size: 1.5em;
}
#collapsible-nav {
	
}
#section1 {
	background: grey;
	height: 1000px;
}


